/************************
universal style starts
************************/


h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Poppins',
        sans-serif !important;
}

body {
    margin: 0 !important;
}

/************************

header style starts

************************/

/* 

navbar design 

*/
#nav {
    background-color: #2D25A0;
}

div.container-fluid {
    margin: 0;
    background: #2D25A0;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    opacity: .9;
}

/* button design */
#button-live {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    background: rgb(224, 44, 109);
    padding: 10px 24px;
    text-decoration: none;
    color: white;
    /* transition: .8s ease-in; */
}

#button-login {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    background: rgb(224, 44, 109);
    padding: 10px 24px;
    text-decoration: none;
    color: white;
    /* transition: .8s ease-in; */
}

#button-live .fa-arrow-right {
    margin-left: 7px;
}

#button-live:hover .fa-arrow-right {
    animation: rightIcon .2s ease infinite alternate;
}

#button-login:hover .fa-arrow-right {
    animation: rightIcon .2s ease infinite alternate;
}

@keyframes rightIcon {
    0% {
        color: white;
    }

    100% {
        transform: translateX(3px);
    }
}

/* button design ends */

/* login style starts */
/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    width: 300px;
    /* height: 200px; */
    margin: 5% auto;
    /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    border: 3px solid rgb(199, 9, 247);
    box-shadow: 60px 50px 300px rgb(0, 0, 0);
    z-index: 9;
    border-radius: 33px;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 30px;

}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #F34279;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}


#myform form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%) scale(0);
    width: 300px;
    height: 450px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background: #262626;
    box-shadow: 38px 38px 56px #1e1e1e,
        -25px -25px 38px #1e1e1e;
    z-index: 1;
}

/* login style ends */
/************************
main style starts
************************/

/*live Section styles */
.liveSection {
    background-color: #2D25A0;
    padding: 120px 150px 140px;
    /* display: flex;
   flex-direction: row; */
}

#liveMargin {
    margin: 0;
}

.liveTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
}

.copaLive a:hover {
    background: rgb(224, 44, 109);
    background: linear-gradient(25deg, rgba(224, 44, 109, 1) 0%, rgb(255, 42, 106) 39%, rgb(255, 12, 61) 100%);
    border: 1px solid #ffffff;
    outline: none;
}

body {
    width: 100% !important;
}

/* live section ends */

@media screen and (max-width: 768px) {
    /* .liveSection {
        padding: 15px;
    } */
    /* #liveImage {
        margin-top: 50px;
    } */
}